body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 26px;
    color: #737373;
}

section {
    padding-top: 6rem;
}

.navbar, footer {
    background-color: hsl(282, 45%, 57%);
}

.jumbotron {
    padding-top: 6rem;
    background-color: hsl(282, 54%, 89%);
    color: rgb(110, 106, 106);
}

.colz-icon i {
    color: rgb(110, 106, 106);
    padding: 12px;
    padding-left: 0;
    transform: scale(1.5);
}

.colz-icon i:hover {
    transform: scale(2);
}

.slider-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: fill;
    border: 6px solid #000;
    transition: 2s;
}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}
#skills, #contact {
    background-color: hsl(282, 54%, 89%);
}

.project_img {
    height: 228px;
}

.card {
    min-height: 360px;
    line-height: 16px;
    border: 1px solid #000;
}

.my-btn-style {
    background-color: #A65FC2 !important;
    border-color: #A65FC2 !important;
}
